<h2><%= @user.first_name + " "+ @user.last_name %></h2>
<p>Gender: <%= @user.gender %></p>
<p>Email: <%= @user.email %></p>
<p>Phone: <%= @user.phone %></p>
<p>Date of Birth: <%= @user.date_of_birth %></p>
<p>Job Title: <%= @user.job_title %></p>