<div class="box m-5">
    <% if show_link %>
        <h2 class="title is-3 m-5"><%= link_to destination.name, destination%> <em>(<%= pluralize destination.trip_count, "visit" %>)</em></h2>
    <% else %>
        <h2 class="title is-3 m-5"><%= destination.name%></h2>
    <% end %>
    <p class="m-5">
        <span class="has-text-weight-bold">Location:</span>
        <%= destination.location %>
    </p>
    <p class="m-5">
        <span class="has-text-weight-bold">Description:</span> 
        <%= destination.description %>
    </p>
    <p class="m-5">
        <%= image_tag destination.image, alt: destination.name %>
    </p>
    <% unless show_link %> 
        <%= link_to "Back to destinations", destinations_path, class: "button is-link" %>
    <% end %>
    
</div>
